# Python Virtual Environment
.venv/
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# IDE files
.idea/
*.iml
*.pyc

# Cython debug symbols
cython_debug/
